@import "../common/sass/variables.scss";
@font-face {
  font-family: 'DM';
  src:url("../assets/fonts/DMSans-Regular.woff");
}

.Main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    background-color: $bgColor;
    padding-bottom: 50px;
    position: relative;
    padding-top: 100px;
    //border: 1px solid #61dafb;
    .particles {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.5;
      z-index: 0;
      color:#61dafb;
    }
    .greetingContainer{
        max-width: 519px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .greeting{
            color: #bfbfbf;
            letter-spacing: .025px;
            font-size: 16px;
            line-height: 1.1;
            font-family: "Montserrat",sans-serif;
            text-transform: uppercase;
        }
        .fullName{
          font-family: $fontFamilyBold,Sans-serif;
          color: #fff;
          font-size: 55px;
          text-transform: uppercase;
          line-height: 80px;
          position: relative;
          z-index: 0;
          display: inline-block;
          &::before {
              content: '';
              position: absolute;
              width: 98%;
              height: 20px;
              background-color: $primaryColor;
              bottom: 16px;
              z-index: -1;
          }
      }
        .body{
            color: #c79864;
            font-weight: 600;
            font-family: "DM", sans-serif;
            font-size: 16px;
            text-transform: uppercase;
            line-height: 28px;
            letter-spacing: .025px;
        }
    }
    .photo{
        max-width: 350px;
        width: 100%;
        height: 400px;
        //background-color: #999;
        margin-right: 20px;
        background-size: cover;
        background-color: $bgColor;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        //opacity: 0.6;
      &::after{
        content:"";
        width:100%;
        height: 100%;
        background-color: #111111;
        opacity: 0.5;
      }
    }
}

@media screen and (max-width: 768px) {
  .Main {
    .greetingContainer {
      .greeting {
        font-size: 10px;
      }
      .fullName {
        font-size: 30px;
        line-height: 40px;
        &::before {
          bottom: 0;
        }
      }
      .photo {
        margin-right: 0;
      }
    }
  }
}
