@import '../common/sass/variables.scss';

.Skills {
	display: flex;
	min-height: 100vh;
	background-color: $bgSecondColor;
	justify-content: center;
	.skillsContainer {
		height: 100%;
		width: 80%;
		//border: 2px solid #282c34;
		box-sizing: border-box;
		//margin-top: 20px;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: flex-start;
		.SkillWrapper {
			width: 100%;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			box-sizing: border-box;
			margin-top: 10px;
			//border: 2px solid #7290c5;
		}
	}
}
