@import "../common/sass/variables.scss";

@font-face {
 font-family: 'DM Sans';
 src:url("../assets/fonts/DMSans-Regular.woff");
}
.header {
 position: relative;
 width: 100%;
 height: 80px;
 background-color:$bgColor;
 display: flex;
 justify-content: flex-end;
 align-items: center;
 z-index: 999;
 padding-bottom: 20px;
 //opacity: 0.9;
 @media screen and (max-width: 768px){
  //position: absolute;
  }
 }
